<div class="bubble">
    <p class="text-muted">{{ $ctrl.message.createdAt | fromNow }}</p>
    <div class="row">
        <div class="text col-xs-6">
            <p class="lead">{{ $ctrl.message.message.content }}</p>
        </div>
        <div class="col-xs-6 container-{{$ctrl.message.id}}"></div>
    </div>
    <span ng-hide="$ctrl.displayMode">
        <button class="btn btn-danger" ng-click="$ctrl.deleteMessage($ctrl.message.id)">Löschen</button>
    </span>
</div>