<div class="row">
    <div class="col-xs-12">
        <div class="messages">
            <div ng-repeat="message in $ctrl.messages | orderBy : '-createdAt'">
                <message message="message"></message>
            </div>
        </div>
    </div>
</div>