@font-face {
    font-family: 'Roboto Condensed';
    src: url('/fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  margin: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 200%;
}

a {
  cursor: pointer;
}

h1, h2 {
	color: #337ab7;
	margin: 0;
	padding: 0;
}

p {
  margin: 0;
}

.clock, .weather, .calendar, .sauna, .messages {
	background: #f9f9f9;
	padding: 10px;
}

.clock{
font-size: 50px;
text-align: center;
}

.calendar{
	.entry > span {
		font-size: 1.3em;
	}
}

.weather {

	canvas {
		vertical-align: middle;
	}

	table {
		text-align: center;

		td {
			padding: 5px 10px;
		}

		td:nth-child(2) {
			width: 100%;
		}

		tr:first-child {
			font-size: 1.2em;
			font-weight: bold;
		}
	}
}

.sauna {

	i {
		float: left;
		font-size: 50px;
		margin-right: 10px;
	}

	.temperature {
		font-size: 2em;
	}

  @keyframes heatingAnimation {
    0%   { top: 20px; opacity: 0; }
    100% { top: 0; opacity: 1; }
  }

  @keyframes coolingAnimation {
    0%   { top: 0; opacity: 0; }
    100% { top: 20px; opacity: 1; }
  }

  .tendency {
    font-size: 30px;
    position: absolute;
    left: 120px;
    display: none;

    &.heating {
      transform: rotate(-90deg);
      animation: heatingAnimation 2s infinite ease-in-out;
      color: red;
      display: inline-block;
    }

    &.cooling {
      transform: rotate(90deg);
      animation: coolingAnimation 2s infinite ease-in-out;
      color: blue;
      display: inline-block;
    }
  }
}

.messages {

	.bubble {
		position: relative;
		background: #fff;
		border: 1px solid #ccc;
		padding: 10px;
		margin-bottom: 50px;
	}

	.bubble:after, .bubble:before {
		top: 100%;
		left: 90%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}

	.bubble:after {
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 30px;
		margin-left: -30px;
	}
	.bubble:before {
		border-color: rgba(204, 204, 204, 0);
		border-top-color: #ccc;
		border-width: 31px;
		margin-left: -31px;
	}

	.text-muted {
		text-align: right;
	}

	/*.bubble {
		position: relative;
		border-radius: 5px;

		border: solid #ccc;
		background: #fff;
	}

	.bubble:before {
	  content:"";
	  position: absolute;
	  right: 15px;
	  bottom: -26px;
	  width: 0;
	  height: 0;

	  border-top: 26px solid #fff;
	  border-left: 13px solid transparent;
	  border-right: 13px solid transparent;
	}

	.bubble p {
	  position: inherit;
	  width: inherit;
	  height: inherit;
	  background: inherit;

	  margin: 0;
	  padding: 0;

	  border: none;
	  resize: none;
	}*/

	.lead {
	  margin-bottom: 0;
	  font-weight: 400;
	  font-size: 2em;
	}
}