<div class="row">
    <div class="col-sm-12" ng-cloak>

        <h1>Infodisplay</h1>

        <div class="form-group">
            <label for="msg">Nachricht eingeben</label>
            <input type="text"
                   class="form-control"
                   id="msg"
                   ng-model="$ctrl.message"
                   placeholder="My awesome message">

            <input type="file"
            class="form-control"
            name="sampleFile"
            placeholder="(optional) Bild"
            accept="image/*"
            ng-model="$ctrl.image"
            onchange="angular.element(this).scope().$ctrl.fileNameChanged(this)" />
        </div>

        <div class="form-group">
            <button class="btn btn-success" ng-click="$ctrl.createMessage($ctrl.message, $ctrl.image)">Absenden</button>
        </div>

    </div>
</div>