<!DOCTYPE html>
<html lang="de" ng-app="GekuInfodisplay" ng-controller="DisplayCtrl as display">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>GeKu Infodisplay</title>

  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/weather-icons.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/icomoon.css" rel="stylesheet">

</head>
<body>


<div class="row">
  <div class="col-xs-6">
      <div>
          <span class="pull-left">
            <clock></clock>
          </span>
          <span class="pull-right">
            <h3>
              <sunrise></sunrise>
            </h3>
          </span>
        </div>
    <div class="weather">
      <table td-spacing="5">
        <tr>
          <td>Aktuell</td>
          <td><canvas id="weatherCurrent" width="75" height="75"></canvas></td>
          <!--<td><skycon ng-if="display.weather.currently" data="display.weather.currently"></skycon></td>-->
          <td>{{ display.weather.currently.temperature | number:0 }}&nbsp;°C</td>
          <td>({{ display.weather.currently.precipProbability * 100 | number:0 }}&nbsp;%)</td>
        <tr>
        <tr>
          <td>{{ display.getWeekday(1) }}</td>
          <td><canvas id="weatherDay1" width="40" height="40"></canvas></td>
          <td>{{ display.getTemp(1) | number:0 }}&nbsp;°C</td>
          <td>({{ display.weather.daily.data[1].precipProbability * 100 | number:0 }}&nbsp;%)</td>
        <tr>
        <tr>
          <td>{{ display.getWeekday(2) }}</td>
          <td><canvas id="weatherDay2" width="40" height="40"></canvas></td>
          <td>{{ display.getTemp(2) | number:0 }}&nbsp;°C</td>
          <td>({{ display.weather.daily.data[2].precipProbability * 100 | number:0 }}&nbsp;%)</td>
        <tr>
      </table>
    </div>
  </div>

  <div class="col-xs-6">
    <div class="calendar pt-0">
        <h2 style="margin-top: 0px;">Termine</h2>
      <div class="entry" ng-repeat="event in display.events | orderBy: start | limitTo: 3">
          <span><i class="icon-calendar-empty"></i></span>
          <span class="text-muted date">{{ event.start | calendar }}</span>
          <span class="title">{{ event.summary }}</span>
      </div>
    </div>

    <div class="sauna">
        <h2 style="margin-top: 0px;">Sauna</h2>
      <i class="icon-sauna"></i> <span class="temperature">{{ display.sauna }} °C</span>
      <!-- <span class="tendency heating">»</span> -->
    </div>
    </div>

  </div>

  <hr />
 <message-list></message-list>

</div>

<script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyB8x-vzSvnXZpKYcDbuwGYoaI7ceAsNZ8c",
    authDomain: "geku-info-display.firebaseapp.com",
    databaseURL: "https://geku-info-display.firebaseio.com",
    projectId: "geku-info-display",
    storageBucket: "",
    messagingSenderId: "805279184381"
  };
  firebase.initializeApp(config);
  firebase.auth().signInAnonymously().catch(function(error) {
    console.log(error);
  });
</script>
<script src="js/libraries.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.1.0/exif.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/2.12.2/load-image.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/2.12.2/load-image-scale.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-load-image/2.12.2/load-image-orientation.min.js"></script>
<script src="js/app-complete.js"></script>

</body>
</html>